* {
    box-sizing : border-box;
}

@font-face{
    font-family: "Shrikhand-Regular";
    src        : url('fonts/Shrikhand-Regular.ttf');
}
 @font-face{ 
    font-family: "robotoregular";
    src        : url('fonts/Roboto-Regular.ttf');
}

@font-face{ 
    font-family: "robotoblack";
    src        : url('fonts/Roboto-Black.ttf');
}

body{
    margin     : 0; 
}

h1,h3,h4,h5,h6,ol,ul,p{
    margin     : 0;
    padding    : 0;
}

p,ol,ul,h5,h6,h2{
    font-family: robotoregular;   
}

h1,h4{
    font-family: Shrikhand-Regular;
    font-size  : 1.7em;
}

h5{
    margin-top : 25px;
}

h3{
    font-family: robotoblack;
    font-size  : 1.3em;
    font-weight: normal;
}

aside,section,footer,main{
    width      : 100%;
    padding    : 5% 5%;
}

:link{
    text-decoration: none;
    color          : inherit;
}

:visited{
    color          : initial;
}

img{
    width : 100%;
    height: auto;
}

button{
    padding      : 20px;
    border-radius: 30px;
    color        : white;
    border       : 1px solid #b15fdb;
    min-width    : 200px;
    margin       : 30px;
    cursor       : pointer;
    background   : linear-gradient(45deg,  #ee83db 0%,#a35adb 99%);
    box-shadow   : 0px 10px 10px 0px rgba(0,0,0,0.32);
}


button:hover{
    transition-duration: 1s;
    box-shadow         : 0px 17px 6px -10px rgba(0, 0, 0, 0.432);
}

/* Loading Spinner */

.Loading_screen{
    opacity            : 0.7;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    width              : 100%;
    height             : 100%;
    position           : fixed;
    background-color   : rgb(34, 34, 34);
    z-index            : 3;
    animation          : 2s  fade_in_out;
    animation-fill-mode: forwards;
}

.spinner{
    width              : 50px;
    height             : 50px;
    border             : solid 5px #cfd0d1;
    border-bottom-color: #1c87c9;
    border-radius      : 50%;
    animation          : 3s linear  spinner;
}

@keyframes spinner {
    0% { 
      transform: rotate(0deg);
    }
    100% {  
      transform: rotate(3turn);
    }
  }
  
@keyframes fade_in_out{
    to{
        opacity   : 0;
        visibility: hidden;
    }
}

/* Header */

header{
    display         : flex;
    text-align      : center;
    justify-content : center;
    align-items     : center;
    align-content   : center;
    background-color: rgb(255, 255, 255);
    padding         : 2% 3%;
}

.arrow_stealth{
    visibility: hidden;
}

h1{
    width     : 90%;
}
header i{
    font-size : 1.2em;
}

/* geolocalization */

#geolock, iframe, #geolock p{
    width           :100%;
    height          : 50px;
}

#geolock i{
    padding-right   : 10px;
}

iframe{  
    opacity         : 1;
    border          : 1px solid rgb(9, 243, 192);
    width: 100%;
}

#geolock p{
    display         : flex;
    justify-content : center;
    align-items     : center;
    position        : absolute;
    background-color: rgb(240, 240, 240);
    box-shadow      : inset 0px 7px 10px -6px rgba(0,0,0,0.56);
    cursor          : pointer;
}

#geolock p:hover{
    transition-duration: 2s;
    opacity            : 0;
}

/* info restaurant block */

#info{
    display         : flex;
    flex-direction  : column;
    background-color: rgb(212, 212, 212);
    text-align      : center;
    padding         : 30px;
}

/* instruction */

aside ol{  
    position        : relative;
}

ol li:last-child{
    background-color: rgb(245, 237, 255);
}

aside li{
    display         : flex;
    justify-content : start;
    align-items     : center;
    border-radius   : 10px;
    height          : 50px;
    background-color: rgb(228, 228, 228);
    margin          : 20px 0;
    box-shadow      : 0px 17px 26px -10px rgba(0,0,0,0.32);
}

 aside i{
    padding         : 0 30px;
}

 aside P{
    text-align      : center;
    border-radius   : 50%;
    width           : 22px;
    position        : absolute;
    color           : white;
    border             : 1px solid rgb(151, 92, 221);
    background-color: rgb(151, 92, 221);
    left            : -9px;
}

#purple_font i{
    color           : rgb(151, 92, 221);
}

/* Section nav Menu  */

section{ 
    background-color: rgb(236, 236, 236);
}

.menu_block{
    position        : relative;
    border-radius   : 20px;
    overflow        : hidden;
    box-shadow      : 0px 0px 30px 10px rgba(0,0,0,0.32);
    margin          : 9% 0;
}

.menu_block:hover{
    transition: 1s;
    transform : scale(1.05);
    cursor    : pointer;
    box-shadow: 0px 17px 6px -10px rgba(0, 0, 0, 0.432);
}

.green_new_top_right{
    position        : absolute;
    right           : 20px;
    top             : 20px;
    color           :  rgb(94, 160, 145);
    background-color:  rgb(153, 226, 208);
    padding         : 1% 6%;
    border-radius   : 8px;
    font-size       : 0.9em;
    font-family: robotoblack;
}

.under_menu{
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 5% 5%;
}

.heart{
    position: relative;
    display : flex;
}

.heart .far{
    z-index         : 2;
    background-color: rgb(236, 236, 236);
}

.heart .fas{
    background             : linear-gradient(45deg,  #ee83db 0%,#a35adb 99%);
    position               : absolute;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.heart .far:hover{
    animation          : 1s  fade_in_out;
    animation-fill-mode: forwards;
}

.heart .far:hover ~ .fas{
    animation: 1.5s heart_grow ;
}

@keyframes heart_grow{
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1);
    }
}

/* main Menu 1 2 3 4 */

main{
    position             : relative;
    background-color     : rgb(235, 235, 235);
    border               : 2px solid white;
    border-radius        : 35px 35px 0 0;
    margin-top           : -35px;
}

.menu_title,main article{
    display        : flex;
    justify-content: space-between;
    align-items    : center;
}

.entrees, .main_dish, .desserts{
    display       : flex;
    flex-direction: column;
} 

main article{
    height          : 80px;
    background-color: white;
    border-radius   : 22px;
    box-shadow      : 0px 17px 26px -10px rgba(0,0,0,0.32);
    margin          : 1% 1%;
    padding         : 0 0 0 5%;
    overflow        : hidden;
    width           : 100%;
}

main article, .heart:hover{
    cursor: pointer;
}

.check_fonction{
    height          : 100%;
    width           : 0;
    display         : flex;
    justify-content : center;
    align-items     : center;
    background-color: rgb(153, 226, 208);
}

main article:hover .check_fonction{
    transition-duration: 0.3s;
    width              : 90px;
    font-size          : 1.3em;
    visibility         : visible;   
}

main article:hover{
    transition-duration: 1s;
    box-shadow         : 0px 17px 6px -10px rgba(0,0,0,0.32);
}

main article p{
    margin-right: 4%;
}

.check_fonction i{
    color: white;
}

main article:hover .check_fonction i{
    animation: rotate_check 0.8s ease-in-out 0s;
}

@keyframes rotate_check {
    from {
        transform:rotate(0);
    }

    to {
        transform:rotate(1turn);
    }
}

.empty_space{
    border-bottom: 2px solid turquoise;
    height       : 5px;
    width        : 35px;
    margin-bottom: 10px;
}

.order_button{
    display              : flex;
    justify-content      : center;
}

.left_container{
    width   : 80%;
    overflow: hidden;
}

.left_container p{
    overflow     : hidden;
    text-overflow: ellipsis;
    white-space  : nowrap;
}

/*animation main menu 1 2 3 4*/

.entrees, .main_dish,.desserts{
    animation-name    : slide;
}

.entrees{
    animation-duration: 1s;
}

.main_dish{
    animation-duration: 2s;
}

.desserts{
    animation-duration: 3s;
}

@keyframes slide {
    from{
        opacity       : 0;
        transform     : translatey(15%);
    }
    to{
        opacity       : 1;
        transform     : translatey(0);
    }
  }

  /* footer */

footer{  
    color           : white;
    background-color: rgb(66, 66, 66);   
}

footer ul{
    list-style      : none;
    display         : flex;
    flex-direction  : column;
    padding-top     : 10px;
}

footer i{
    font-size       : 10px;
    padding-right   : 10px;
}

/* Media query */

@media screen and (max-width: 359px){
    *{
        font-size           : 0.9em;
    }

    main article{
        height              : 40px;
        border-radius       : 15px;
    }

    main article            : hover .check_fonction{
        transition-duration : 0.3s;
        width               : 30px;   
    }

    aside P{
        width               : 12px;
        left                : 5px;
    }

    button{
        min-width           : 60%;
    }

    aside li{
        height              : 25px;
        margin              : 10px;
    }
    aside i{
        padding             : 0 15px;
    }

    img{
        height              : 150px;
    }
}

@media screen and (min-width: 1025px){
    .menu_block{
        margin              : 10px 10px;
    }

    nav{
        display             : flex;
        justify-content     : space-between;
    }

    .entrees, .main_dish, .desserts{
        display             : flex;
        flex-direction      : row;
    }

    main{
        margin-top          : -260px;
        
    }
    
    body{
        margin              : 0 10%;
        box-shadow          : 0px 7px 10px -6px rgba(0,0,0,0.56);
    }

    #geolock, iframe, #geolock p,.Loading_screen{
        width               : 80%;
    }

    iframe{
        width               : 125%;
    }

    
}
